<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <style type="text/css">{{ style }}</style>
  <script src="../js/script.js"></script>
  <script src="../js/reg.js"></script>
</head>
<body>
{{> header}}
<main>
  {{ main_content_page}}
</main>
{{> footer}}
</body>
</html>